@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
.root,
#root,
#docs-root {
  --primary: #107329;
  --secondary: #012611;
  --green: #92d36e;
  --ligth-green: #a8bfaa7e;
  --red: #8C0813;
  --ligth-red: #f85f6a;
  --blue: #5f6af8;
  --yellow: #ffb05a;
  --dark: #070606;
  --white: #F2F2F2;
  --transparent: rgba(0, 0, 0, 0.1);
  --gray: #7575757d;
}